In [104]:
import yfinance as yf
import pandas as pd
import requests
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

# DATA REQUEST

In [6]:
# INITIALIZATION
pageSize = 100
startDate = "2025-01-01"
endDate = "2025-08-10"

In [ ]:
# HKMA API URLs for yield data
hibor_url = f"https://api.hkma.gov.hk/public/market-data-and-statistics/monthly-statistical-bulletin/er-ir/hk-interbank-ir-daily?pagesize={pageSize}&from={startDate}&to={endDate}"
# efbn_url = f"https://api.hkma.gov.hk/public/market-data-and-statistics/monthly-statistical-bulletin/efbn/efbn-yield-daily?pagesize={pageSize}&from={startDate}&to={endDate}"

In [174]:
hibor_response = requests.get(hibor_url).json()
# efbn_response = requests.get(efbn_url).json()

In [175]:
hibor_df = pd.DataFrame(hibor_response['result']['records'])
# efbn_df = pd.DataFrame(efbn_response['result']['records'])

hibor_df['end_of_day'] = pd.to_datetime(hibor_df['end_of_day'])
# efbn_df['end_of_day'] = pd.to_datetime(efbn_df['end_of_day'])

In [176]:
melted_hibor = pd.melt(
    hibor_df,
    id_vars=['end_of_day'],
    value_vars=['ir_overnight', 'ir_1w', 'ir_1m', 'ir_3m', 'ir_6m', 'ir_9m', 'ir_12m'],
    var_name='duration',
    value_name='yield'
)

In [177]:
duration_mapping = {
    'ir_overnight': '0.033',
    'ir_1w': '0.233',
    'ir_1m': '1',
    'ir_3m': '3',
    'ir_6m': '6',
    'ir_9m': '9',
    'ir_12m': '12'
}

melted_hibor['duration'] = melted_hibor['duration'].map(duration_mapping)

melted_hibor.sort_values(by=['end_of_day', 'duration'], inplace=True)

In [198]:
melted_hibor['D']= (melted_hibor['end_of_day']-melted_hibor['end_of_day'][0]).dt.days

In [205]:
melted_hibor

    end_of_day duration    yield    D
99  2025-03-06    0.033  2.93238 -147
199 2025-03-06    0.233  3.25018 -147
299 2025-03-06        1  3.84149 -147
699 2025-03-06       12  4.10994 -147
399 2025-03-06        3  3.96958 -147
..         ...      ...      ...  ...
200 2025-07-31        1  1.03363    0
600 2025-07-31       12  2.80185    0
300 2025-07-31        3   1.6175    0
400 2025-07-31        6  2.26839    0
500 2025-07-31        9     None    0

[700 rows x 4 columns]