In [2]:
import pandas as pd
import requests

# DATA REQUEST

In [ ]:
# HKAB API URLs for yield data
def get_hibor(startDate, endDate)->pd.DataFrame:
    selected_keys = ['Overnight','1 Week', '2 Weeks', '1 Month', '2 Months', '3 Months', '6 Months', '12 Months']
    hibor_df = pd.DataFrame(columns=selected_keys)
    for date in pd.date_range(startDate, endDate):
        print(date)
        if date.dayofweek <5:
            year = date.year
            month = date.month
            day = date.day
            hibor_url = f"https://www.hkab.org.hk/api/hibor?year={year}&month={month}&day={day}"
            hibor_response = requests.get(hibor_url).json()
            if hibor_response['isHoliday']==False:
                temp_df = pd.DataFrame(hibor_response, index=[date], columns=selected_keys)
                hibor_df = pd.concat([hibor_df, temp_df], ignore_index=False)
    hibor_df=hibor_df.dropna().sort_index(ascending=False).reset_index(drop=False).rename(columns={'index':'date'})
    return hibor_df

In [ ]:
# endDate = pd.Timestamp('2025-08-20')
# startDate = pd.Timestamp('2015-08-20')
# hibor_df = get_hibor(startDate, endDate)

In [89]:
hibor_df

,date,1 Week,2 Weeks,1 Month,2 Months,3 Months,6 Months,12 Months
0,2025-08-20,2.80000,2.87917,2.85774,2.85554,2.92595,3.00000,3.18405
1,2025-08-19,2.66119,2.67393,2.57417,2.57774,2.57488,2.69845,2.93393
2,2025-08-18,1.84381,1.92143,2.01393,2.09583,2.18333,2.46345,2.76637
3,2025-08-15,0.94941,1.12696,1.45095,1.64393,1.86060,2.38411,2.67143
4,2025-08-14,0.53673,0.69756,1.04524,1.41042,1.72488,2.29089,2.61964
...,...,...,...,...,...,...,...,...
2454,2015-08-26,0.11493,0.15255,0.25621,0.33371,0.40814,0.56143,0.86150
2455,2015-08-25,0.11564,0.15450,0.25264,0.33014,0.40743,0.56214,0.86107
2456,2015-08-24,0.11036,0.14836,0.24443,0.31686,0.39500,0.55857,0.86000
2457,2015-08-21,0.10821,0.14712,0.24257,0.30764,0.38921,0.54071,0.84415
2458,2015-08-20,0.10893,0.14931,0.24329,0.30550,0.38850,0.54071,0.84316

In [88]:
hibor_df.to_parquet("assets/hibor_data.parquet", index=True)